@{
    ViewBag.Title = "Yine de teşekkürler !";
}

<h2>Üzgünüz, mesajınızı alamadık :(</h2>

<div class="alert alert-danger">En kısa sürede problemi çözmeye çalışacağız, ilerleyen saatlerde tekrar deneyiniz.</div>