@model Data.Comment

<div class="media">
    <a class="pull-left" href="#">
        <img class="media-object" src="@Url.Action("Avatar","User", new { @id = Model.UserId })" alt="">
    </a>
    <div class="media-body">
        <h4 class="media-heading">
            @Model.User.Name
            <small>@Model.Date</small>
        </h4>
        @Model.Text
    </div>
</div>
